@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.img-thumbnail {
    padding: .25rem;
    background-color: #f8f8fb;
}